.popup__button_edit:disabled {
color: #fff;
background-color: rgba(0, 0, 0, .2);
font-size: 18px;
}
.popup__button_edit:disabled {
color: rgba(0, 0, 0, .2);
background-color: #fff;
font-size: 18px;
}

.popup__button_edit {
font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;
text-align: center;
}